<div class="animated bounceUp container">
  <div class="animated bounceIn validationMessage" [hidden]="email.valid || email.untouched || password.untouched">
    {{validationMessage}}
  </div>
</div>
<div class="signIn">
  <label for="login">Email address</label>
  <input [(ngModel)]="newEmail" #email="ngModel" id="login" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,4}" />
  <label for="password">Password</label>
  <input [(ngModel)]="pass" #password="ngModel" id="password" required pattern="[0-9a-zA-Z!@#$%]{8,}"/>
  <button (click)="signIn()">Sign in</button>
</div>