ul {
  padding-left: 15px;
  padding-right: 15px;
}
li {
  list-style-type: none;
  height: 61px;
  background: #24292e;
  width: 330px;
  margin: 2px
}
a {
  text-decoration: none;
  color: white;
  line-height: 63px;
  font-size: 23px;
  padding: 18px 253px 18px 18px;
}
